{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off",
    "commonjs": true
    //"import/no-extraneous-dependencies": ["error", {"devDependencies": false, "optionalDependencies": false, "peerDependencies": false}]
  }
  // "settings": {
  //   "import/resolver": {
  //     "node": {
  //       "extensions": [".js", ".jsx", ".ts", ".tsx"]
  //     }
  //   }
  // }

}
